  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>　 通知一覧</h3><a>
      <%= link_to "全削除", destroy_all_users_notifications_path %></a>
      </div>
    </div>
    <% if @notifications.present? %>
      <ol class="notifications">
        <%= render @notifications %>
      </ol>
    <% end %>
      <%= will_paginate @users  %>
  </div>
